.table-wrapper {
    margin: 15px;
    width: 100vw;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
}

table th {
    background-color: aquamarine;
}

table td {
    background-color: beige;
}

tr:hover {
    background-color: cornflowerblue;
}


