.table-wrapper {
    margin: 15px;
}

.table {
    border: 1px solid black;
    box-shadow: 10px 5px 5px coral;
    border-collapse: collapse;
}

.table th {
    background-color: aquamarine;
}

.table td {
    background-color: beige;
}

tr:hover {
    background-color: cornflowerblue;
}

button {
    margin: 10px 10px 10px 0px;
    border: 1px solid darkcyan;
    border-radius: 5px;
    background-color: white;
    height: 30px;
    width: 85px;
    box-shadow: 2px 2px 2px darkcyan;
}

button:hover {
    background-color: mediumslateblue;
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    width: 480px;
}

